<<<<<<< HEAD
.red-player{
    -fx-background-color: red;
}
.blue-player{
    -fx-background-color: blue;
}
.green-player{
    -fx-background-color: green;
}
.yellow-player{
    -fx-background-color: yellow;
=======
.root {
    -fx-background-color: "#8F8C8C";
>>>>>>> d193f8b9450911adb1a59b227a36ce340e2b2ead
}